menu "QA utils"
    menu "qa-utils component enabled"
        visible if 0
        config QA_UTILS_ENABLED
            bool
            default y
    endmenu

    config QA_TEST_LOG_TAG
        string "Specify the tag name to be used in test logs"
        default "test"
        help
            "set log tag for QA_TEST_LOG"

    config QA_TEST_LOG_TIMESTAMP
        bool "Show timestamp for test logs"
        default n
        help
            "Show timestamp for test logs."

    choice QA_UTILS_LOG_OUTPUT
        prompt "Select the logging method for qa_utils_log_writev"
        default QA_UTILS_LOG_OUTPUT_ESP_LOG

        config QA_UTILS_LOG_OUTPUT_PRINTF
            bool
            prompt "printf"

        config QA_UTILS_LOG_OUTPUT_ESP_LOG
            bool
            prompt "esp_log"
    endchoice

endmenu
