menu "Console Command: SYS"

    config SYS_CMD_LOG_MODULE
        string "log module name for sys-cmd"
        default "SYS"
        help
            "set sys-cmd log output module name"

    config SYS_CMD_SUPPORT_NVS
        bool "Support nvs command."
        default n
        help
            Support nvs set/get commands

    config SYS_CMD_SUPPORT_DSLEEP
        bool "Support dsleep command."
        depends on !IDF_TARGET_LINUX
        default y
        help
            Support basic "dsleep" (deep sleep) commands
            linux target does not support dsleep commands

    config SYS_CMD_HEAP_MALLOC_MAX_COUNT
        int "Maximum count from heap malloc command"
        default 5
        help
            Maximum count from "heap malloc" command, maximum index will be "count - 1"

endmenu
